.flex{
    display: flex;
    justify-content: space-around;
    margin: 5%;
    flex-direction: column;
}

.flex2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
}